.my-massages {
    width: 100%;
    
    @media (min-width: 820px){
        width: 80%;
    }
    .massage-container {
        background-color: #2fa0d884;
        margin: 20px;
        border-radius: 15px;
        .massage {
            display: flex;
            padding: 5px 20px;
            font-size: 16px;
            align-items: center;
            height: 50px;
            column-gap: 10px;
            @media (min-width: 660px){
                font-size: 20px;
                padding: 20px;
            }
            button{
                width: auto;
                height: auto;
                border-radius: 15px;
                background-color: rgba(222, 184, 135, 0);
                &:hover{
                    background-color: rgba(213, 95, 95, 0.732);
                }
                img{
                    width: 35px;
                    height: 50px;
                    display: none;
                }
            }
            &:hover{
                button{
                    img{
                        display: block;
                    }
                }
            }
        }
    }
    
    
}