.my-massages {
    width: 100%;
    background-color: #2fa0d884;
    margin: 20px;
    border-radius: 15px;
    .massage-container {
        .massage {
            display: flex;
            padding: 20px;
            font-size: 22px;
            align-items: center;
            height: 70px;
            button{
                width: auto;
                height: auto;
                border-radius: 15px;
                background-color: rgba(222, 184, 135, 0);
                &:hover{
                    background-color: rgba(213, 95, 95, 0.732);
                }
                img{
                    width: 35px;
                    height: 50px;
                    display: none;
                }
            }
            &:hover{
                button{
                    img{
                        display: block;
                    }
                }
            }
        }
    }
    
    
}