.auth {
    width: 100%;
    @media (min-width: 820px){
        width: 80%;
    }

    opacity: 0;
    transform:  translateY(-100%);
    transition: opacity 1.5s, transform 1s;
    
    &.animate {
        opacity: 1;
        transform: translateY(0);
    }

    .my-messages-section {
        width: 100%;
        form{
            .add-feedback {
                opacity: 0;
                transform:  translateX(-100%);
                transition: opacity 1.5s, transform 1s;
                
                &.animate {
                    opacity: 1;
                    transform: translateX(0);
                }
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 5px;
                @media (min-width: 660px){
                    flex-direction: row;
                    margin: 15px;
                }
                input{
                    flex-grow: 1;
                    height: 36px;
                    border-radius: 50px;
                    margin-right: 5px ;
                }
                button{
                    width: 290px;
                    height: auto;
                }
            }
        }
        ul{
            text-align: left;
            margin: 20px;
            .massages-conteiner{
                padding: 0 20px;
                margin: 5px 0;
                opacity: 0;
                transform:  translateX(-100%);
                transition: opacity 1.5s, transform 1s;
                
                &.animate {
                    opacity: 1;
                    transform: translateX(0);
                }

                border-radius: 15px;
                background-color: cadetblue;
                width: 100%;
                font-size: 16px;
                display: flex;
                column-gap: 20px;
                align-items: center;
                @media (min-width: 660px){
                    font-size: 22px;
                }
                button{
                    height: auto;
                    width: auto;
                    background-color: rgba(43, 58, 226, 0.388);
                    img{
                        width: 30px;
                        height: 40px;
                    }
                }
            }
        }
        
    }
    .auth-popup {
        margin: 20px 0px;
        
        p{
            font-size: 18px;
            font-family: Lemon-Regular;
        }
    }
}


