.auth {
    width: 80%;
    .my-messages-section {
        width: 100%;
        form{
            .add-feedback {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px;
                input{
                    flex-grow: 1;
                    height: 36px;
                    border-radius: 50px;
                }
                button{
                    height: auto;
                }
            }
        }
        ul{
            text-align: left;
            background-color: cadetblue;
            border-radius: 15px;
            padding: 0 20px;
            margin: 20px;
            li{
                width: 100%;
                font-size: 22px;
                display: flex;
                column-gap: 20px;
                align-items: center;
                button{
                    height: auto;
                    width: auto;
                    background-color: rgba(43, 58, 226, 0.388);
                    img{
                        width: 30px;
                        height: 40px;
                    }
                }
            }
        }
        
    }
    .auth-popup {
        margin: 20px;
        p{
            font-size: 22px;
            font-family: Lemon-Regular;
        }
    }
}


