.project2 {
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, #FFEB3C 0%, #FD15CA 100%);
    border-radius: 0px;
    margin: 0;
    @media (min-width: 820px){
        border-radius: 15px;
        margin: 20px 0;
        width: 80%;
        height: 900px;
    }
    .main-element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        .head{
            z-index: 5;
            p {
                font-size: 38px;
                z-index: 5;
                @media (min-width: 660px){
                    font-size: 68px;
                }
            }
        }
        
    
        button {
            z-index: 5;
        }
    }
  
    .donut-game-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}