@font-face {
  font-family: 'Knewave-Regular';
  src: url('../../assets/fonts/Knewave-Regular.ttf');
}
@font-face {
  font-family: 'Lemon-Regular';
  src: url('../../assets/fonts/Lemon-Regular.ttf');
}

#root {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Knewave-Regular;
  .layaut{
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      .myself {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin: 20px;
        .greeting {
          grid-column: 2;
          grid-row: 1;
          background-color: #4239A0;
          border-radius: 15px 0 0 0;
          h1{}
        }
        .stak-info {
          grid-column: 1;
          grid-row: 1 / 3;
          padding: 20px;
          ul{
            text-align: left;
            li{
              font-size: 22px;
            }
          }
        }
        .greeting-text {
          grid-column: 2 / 4;
          grid-row: 2;
          text-align: left;
          background-color: #4239A0;
          padding: 20px;
          font-family: 'Lemon-Regular';
          p{
            font-size: 22px;
          }
        }
        .status{
          grid-column: 3;
          grid-row: 1;
          background-color: #4239A0;
          border-radius: 0 15px  0 0;
          padding: 20px 40px;
        }
        .avatar {
          grid-column: 1;
          grid-row: 3;
          background-color: #11B4BE;
          border-radius: 15px 0 0 15px;
          img{
            width: 300px;
          }
        }
        .about-my {
          grid-column: 2;
          grid-row: 3;
          background-color: #4239A0;
          .my-comteiner{
            background-color: #11B4BE;
            border-radius: 0 15px 15px 0;
            height: 100%;
            padding: 20px;
          }
          
          h2{}
          p{
            font-family: 'Lemon-Regular';
            text-align: left;
          }
        }
        .next-info {
          grid-column: 3;
          grid-row: 3;
          background-color: #4239A0;
          border-radius: 0 0 15px 0;
          padding: 20px 40px;
          p{}
          ul{
            font-family: 'Lemon-Regular';
            li{
              
            }
            
          }
        }
      }
      
      .skills {
        width: 100%;
        .my-skills {
          padding: 20px 0;
          .categoy-skill {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            padding: 0 10%;
            .soft, .others, .hard{
              width: calc(100% / 3);
              height: auto;
              border-radius: 15px;
              
              p{
                padding: 20px 0;
                font-size: 26px;
                
              }
              ul{
                font-family: 'Lemon-Regular';
                text-align: left;
                padding: 40px;
                li{
                  font-size: 20px;
                }
              }
            }
            .soft {
              background-color: #80E25D;
            }
            .others {
              background-color: #E2DD51;
              margin-top: 100px;
            }
            .hard {
              background-color: #F05555;
              margin-top: 50px;
            }
          }
        }
      }
      
      
      
      footer{
        .futer-conteiner {
          p{
            font-family: 'Lemon-Regular';
            font-size: 22px;
          }
        }        
      }
    }
  }
}
