@font-face {
  font-family: 'Knewave-Regular';
  src: url('../../assets/fonts/Knewave-Regular.ttf?v=1.0');
}

@font-face {
  font-family: 'Lemon-Regular';
  src: url('../../assets/fonts/Lemon-Regular.ttf?v=1.0');
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Knewave-Regular;
  position: relative;
  @media (min-width: 1100px){
    padding: 1rem;
  }
  @media (min-width: 1600px){
    width: 1600px;
  }

  .layaut{
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      footer{
        .futer-conteiner {
          height: 70px;
          margin-bottom: 100px;
          display: flex;
          align-items: center;
          p{
            font-family: 'Lemon-Regular';
            font-size: 22px;
          }
        }        
      }
    }
  }
}
