.skills {
    width: 100%;
    .my-skills {
        padding: 20px 0;
        .categoy-skill {
            display: flex;
            justify-content: center;
            flex-direction: column;
            column-gap: 10px;
            row-gap: 0px;
            padding: 0;
            @media (min-width: 820px){
                padding: 0 10%;
                row-gap: 10px;
            }
            @media (min-width: 1100px){
                justify-content: center;
                flex-direction: row;
                .others {
                    margin-top: 100px;
                }
                .hard {
                    margin-top: 50px;
                }
            }
            .soft, .others, .hard{
                width: 100%;
                height: auto;
                border-radius: 0px;
                @media (min-width: 820px){
                    border-radius: 15px;
                }
                @media (min-width: 1100px){
                    width: calc(100% / 3);
                }
                p{
                    padding: 20px 0;
                    font-size: 26px;
                    
                }
                ul{
                    font-family: 'Lemon-Regular';
                    text-align: left;
                    padding: 20px;
                    li{
                        font-size: 14px;
                        @media (min-width: 660px){
                            font-size: 20px;
                        }
                    }

                }
            }
            .soft {
                background-color: #80E25D;
            }
            .others {
                background-color: #E2DD51;
            }
            .hard {
                background-color: #F05555;
            }
        }
    }
}